body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid transparent;
    padding: 3px;
    margin-left: auto;
    width: 75%;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  #currentDay {
    font-size: 3.0em;
  }
  
  /* .description{
    white-space: pre-wrap;  
  } */
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    background-color: #d3d3d3;
    
  }
  
  /* added padding of 0.5em for personal aesthetics */
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #000000;
    padding: 0.5em;
  }

  .hours-container {
    justify-content: center;
  }
  
  /* changed font color to black for easier visibility */
  .past {
    background-color: #d3d3d3;
    color: black;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  